Repository dscnitrourkela/project-elaichi, pull requests merged in 2021-01, with the labels that each got.

#120 Docs hosting
  .firebaserc
  .github/workflows/docs.yml
  .gitignore
  firebase.json
Labels: actions, awaiting-approval

#121 Actions - Documentation deployment
  .github/workflows/docs.yml
Labels: actions, small

#105 Update Repo Readme, LICENCE, PR Template, Code of Conduct
  .github/PULL_REQUEST_TEMPLATE.md
  CODE_OF_CONDUCT.md
  LICENSE
  README.md
  RepoCover.png
  dsc_nitr.png
Labels: actions, large
