Repository dscnitrourkela/project-elaichi, pull requests merged in 2021-12, with the labels that each got.

#139 init/react setup
  .github/workflows/dalchini_pr_deploy.yml
  .github/workflows/dalchini_prod_deploy.yml
  .github/workflows/dalchini_stage_deploy.yml
  dalchini/.eslintignore
  dalchini/.eslintrc
  dalchini/.gitignore
  dalchini/.nvmrc
  dalchini/.prettierignore
  dalchini/.prettierrc
  dalchini/.stylelintrc
  dalchini/config-overrides.js
  dalchini/package.json
  dalchini/src/assets/logo.svg
  dalchini/src/components/.gitkeep
  dalchini/src/hooks/.gitkeep
  dalchini/src/index.css
  dalchini/src/index.tsx
  dalchini/src/pages/.gitkeep
  dalchini/src/reportWebVitals.ts
  dalchini/src/routes/App.scss
  dalchini/src/routes/App.test.tsx
  dalchini/src/routes/App.tsx
  dalchini/src/styles/_base.scss
  dalchini/src/styles/_variables.scss
  dalchini/src/styles/main.scss
  dalchini/src/utils/.gitkeep
  dalchini/yarn.lock
Labels: T: dalchini, ready-to-merge

#140 Project Setup
  .github/workflows/dalchini_pr_deploy.yml
  .github/workflows/dalchini_prod_deploy.yml
  .github/workflows/dalchini_stage_deploy.yml
  elaichi/.gitignore
  elaichi/analysis_options.yaml
  elaichi/android/app/build.gradle
  elaichi/android/build.gradle
  elaichi/assets/icons/avenue_icons.ttf
  elaichi/assets/images/2.0x/avenue_logo.png
  elaichi/assets/images/2.0x/plants.png
  elaichi/assets/images/3.0x/avenue_logo.png
  elaichi/assets/images/3.0x/plants.png
  elaichi/assets/images/add_event_icon.png
  elaichi/assets/images/add_story_icon.png
  elaichi/assets/images/avenue_logo.png
  elaichi/assets/images/dt.png
  elaichi/assets/images/dt22.png
  elaichi/assets/images/dt_1.png
  elaichi/assets/images/dt_2.png
  elaichi/assets/images/dt_3.png
  elaichi/assets/images/google_logo.svg
  elaichi/assets/images/plants.png
  elaichi/lib/app/app.dart
  elaichi/lib/app/bloc_observer.dart
  elaichi/lib/app/router/app_router.dart
  elaichi/lib/app/theme/base_theme.dart
  elaichi/lib/app/theme/colors.dart
  elaichi/lib/app/utils/measurements.dart
  elaichi/lib/app/utils/strings.dart
  elaichi/lib/auth/application/sign_in_cubit.dart
  elaichi/lib/auth/application/sign_in_cubit.freezed.dart
  elaichi/lib/auth/application/sign_in_state.dart
  elaichi/lib/auth/domain/repository/auth_failure.dart
  elaichi/lib/auth/domain/repository/auth_repository.dart
  elaichi/lib/auth/presentation/sign_in_view.dart
  elaichi/lib/auth/presentation/view/sign_in_page.dart
  elaichi/lib/home/application/home_cubit.dart
  elaichi/lib/home/application/home_cubit.freezed.dart
  elaichi/lib/home/application/home_state.dart
  elaichi/lib/home/home.dart
  elaichi/lib/home/view/home_page.dart
  elaichi/lib/home/widgets/.gitkeep
  elaichi/lib/main.dart
  elaichi/lib/widgets/buttons.dart
  elaichi/pubspec.lock
  elaichi/pubspec.yaml
  elaichi/test/widget_test.dart
Labels: T: elaichi, ready-to-merge, priority: high

#141 feat/components: create frequently used components
  dalchini/package.json
  dalchini/src/components/.gitkeep
  dalchini/src/components/atoms/Container/index.tsx
  dalchini/src/components/atoms/Container/styles.scss
  dalchini/src/components/atoms/Flexbox/index.tsx
  dalchini/src/components/atoms/Flexbox/styles.scss
  dalchini/src/components/atoms/Heading1/index.tsx
  dalchini/src/components/atoms/Heading1/styles.scss
  dalchini/src/components/atoms/Heading2/index.tsx
  dalchini/src/components/atoms/Heading2/styles.scss
  dalchini/src/components/atoms/Heading3/index.tsx
  dalchini/src/components/atoms/Heading3/styles.scss
  dalchini/src/components/atoms/HighlightText/index.tsx
  dalchini/src/components/atoms/HighlightText/styles.scss
  dalchini/src/components/atoms/Para1/index.tsx
  dalchini/src/components/atoms/Para1/styles.scss
  dalchini/src/components/atoms/Para2/index.tsx
  dalchini/src/components/atoms/Para2/styles.scss
  dalchini/src/components/index.tsx
  dalchini/src/components/molecules/FloatingActionButton/index.tsx
  dalchini/src/components/molecules/FloatingActionButton/styles.scss
  dalchini/src/components/molecules/MailCard/index.tsx
  dalchini/src/components/molecules/MailCard/styles.scss
  dalchini/src/components/molecules/NavTabs/index.tsx
  dalchini/src/components/molecules/NavTabs/styles.scss
  dalchini/src/components/molecules/PageTitle/index.tsx
  dalchini/src/components/molecules/PageTitle/styles.scss
  dalchini/src/index.jsx
  dalchini/src/routes/App.scss
  dalchini/src/routes/App.tsx
  dalchini/src/styles/_variables.scss
  dalchini/tsconfig.json
  dalchini/yarn.lock
Labels: safe-to-build

#149 Feat/animations
  dalchini/package.json
  dalchini/src/assets/logo.svg
  dalchini/src/assets/mail-loading.gif
  dalchini/src/components/molecules/FloatingActionButton/styles.scss
  dalchini/src/components/molecules/MailCard/index.tsx
  dalchini/src/components/molecules/MailCard/styles.scss
  dalchini/src/pages/Home/index.tsx
  dalchini/src/pages/Home/styles.scss
  dalchini/src/routes/App.tsx
  dalchini/yarn.lock
Labels: safe-to-build-dalchini

#151 Feat/api integration
  dalchini/package.json
  dalchini/src/components/molecules/MailCard/index.tsx
  dalchini/src/components/molecules/MailCard/styles.scss
  dalchini/src/pages/Home/index.tsx
  dalchini/src/pages/MailView/index.tsx
  dalchini/src/pages/MailView/styles.scss
  dalchini/src/utils/api.ts
  dalchini/src/utils/getQueryParams.ts
  dalchini/src/utils/index.ts
  dalchini/yarn.lock
Labels: safe-to-build-dalchini
